# Python
__pycache__/
*.py[cod]

# PyCharm / IDE
.idea/
.vscode/

# Datasets
dataset/

# Model checkpoints
checkpoints/
*.pt
*.pth

# Logs
logs/
*.log

# Virtual environments
venv/
env/
.venv/

# Temporary files
*.tmp
*.temp

# Windows
Thumbs.db

# macOS
.DS_Store